#makeBkingBtn {
    width: 250px;
    height: 100px;
    font-size: 200%;
    text-transform: initial;
    position: relative;
    top: 35%;
    text-align: center;
    left: 12%;
}

#returnBkingBtn {
    width: 250px;
    height: 100px;
    font-size: 200%;
    text-transform: initial;
    position: absolute;
    bottom: 35%;
    text-align: center;
    left: 9%;
}

#welcMsg {
    position:relative; 
    top: 35%;
    text-align: left;
    padding-left: 5%;
}

#customPage {
    position: relative;
    top: 0px;
}

#returnMsg {
    font-size: 325%;
    position: relative; 
    text-align: left;
    top: 75%;

}

#viewBtn {
    text-transform: initial;
}

.headings {
    color: black;
    font-weight: bold;
}

.homeText {
    color: black;
}

#taxiImg {
    width: 865px;
    height: 600px;
    opacity: 0.7;
}

#disPrevBkng {
    border-width: 4px;
    border-style: dotted;
    border-color: orange;
    padding-left: 1%;
}

#appLogo {
    height: 20px;
    width: 20px;
}